.overflow-scroll {
    overflow-x: scroll;
}
.overflow-scroll::-webkit-scrollbar{
    display: none;
    
}

.h-main__card{
    height: fit-content;
}

@media(min-width:1024px){
    .h-main__card{
        height: 580px;
    }
    
}

.bg-body{
    background-color: #131313;
}