.overflow-scroll {
    overflow-x: scroll;
}
.overflow-scroll::-webkit-scrollbar{
    display: none;
    
}

.h-main__card{
    height: fit-content;
}

@media(min-width:1024px){
    .h-main__card{
        height: 580px;
    }
    
}

.bg-body{
    background-color: #131313;
}


.section-with-divider {
    position: relative;
}
@media (min-width:768px) {
    .section-with-divider {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section-with-divider::before {
        content: '';
        position: absolute;
        top: 10%;
        bottom: 5%;
        left: 50%;
        width: 1px;
        background-color: #ccc;
        z-index: 0;
        
    }
}

.h--information{
    height: 450px;
}
@media(min-width:768px){
    .h--information{
        height: 580px;
    }
    
}
.h-information__image{
    position: absolute;
    bottom: -100px;
    left: 30%;
}

.player{
    width: fit-content;
    height: fit-content;
    border: 3px solid white;
}

@media (min-width:475px){
    .player{
        width: 480px;
        height: 320px;
    }
}

@media (min-width:768px){
    .player{
        width: 640px;
        height: 360px;
    }
}